@import "_normalize";
@import "_variables";


html, body {
  min-height: 100vh;
	padding: 16px;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.header {
  text-align: center;
}

.main {
  background: $red;
  border-radius: 15px;
  padding: 8px;
  max-width: 75%;
  max-height: 75%;
  margin: 24px auto;
  &__title {
    text-align: center;
    color: $gray;
  }
}
.input {
  padding: 8px;
  box-sizing: border-box;
}

.input__box {
  align-content: center;
  padding: 8px;
  margin: 24px;
}

.input__button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.input__save, .input__load {
  margin: 4px;
}

