@import "_normalize";
@import "_variables";


html, body {
	background-color: #ede7d9;
	height: 100%;
	padding: 8px;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.header {
  text-align: center;
}

.main {
  background: $red;
  width: 50%;
  height: 70%;
  border-radius: 15px;
  margin: 24px auto;
  &__title {
    text-align: center;
    color: $gray;
  }
}

